    @media all and (max-width: 740px){

        .background-modal .modal-window{
            width: 55%;
        }

        .center .name,.center .btnName,.center .cancelName{
            font-size: 22px;
        }
    }

    @media all and (max-width: 450px){
        .center .name,.center .btnName,.center .cancelName{
            font-size: 13px;
        }

    }
